# creating series from a list

In [35]:
import numpy as np
import pandas as pd

In [5]:
first_series = pd.Series(list('abcdefg'))
print(first_series)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

In [7]:
siva_series = pd.Series(list('applle'))

In [8]:
print(siva_series)

0    a
1    p
2    p
3    l
4    l
5    e
dtype: object

In [11]:
siva2_series = pd.Series('12345')

In [12]:
print(siva2_series)

0    12345
dtype: object

In [13]:
siva3_series = pd.Series(list('asdfghjkl;'))

In [14]:
print(siva3_series)

0    a
1    s
2    d
3    f
4    g
5    h
6    j
7    k
8    l
9    ;
dtype: object

In [15]:
a_series = pd.Series('qwertyuiop')

In [16]:
print(a_series)

0    qwertyuiop
dtype: object

In [19]:
a_series = pd.Series(list('qwertyuiop'))

In [20]:
print(a_series)

0    q
1    w
2    e
3    r
4    t
5    y
6    u
7    i
8    o
9    p
dtype: object

In [24]:
ss_series = pd.Series(list('12345678910'))

In [25]:
print(ss_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     1
10    0
dtype: object

# cresting series from an ndarray

In [38]:
a_siva = np.array(['s','i','v','a'])

In [40]:
print(a_siva)

['s' 'i' 'v' 'a']

In [41]:
a_siva = pd.array(['s','i','v','a'])

In [42]:
print(a_siva)

<StringArray>
['s', 'i', 'v', 'a']
Length: 4, dtype: string

In [44]:
b_siva = pd.Series(a_siva)

In [45]:
print(b_siva)

0    s
1    i
2    v
3    a
dtype: string

In [49]:
aa_fruts = np.array(['apple','mango','banana','jackFrut'])

In [50]:
print(aa_fruts)

['apple' 'mango' 'banana' 'jackFrut']

In [52]:
bb_fruts = pd.Series(aa_fruts)
print(bb_fruts)

0       apple
1       mango
2      banana
3    jackFrut
dtype: object

In [58]:
p_prabhas = np.array([
'[01] Eashwar                                           2002',
'[02] Ragavendhra                                       2003',
'[03] Varsham	                                        2004',
'[04] Adivi Ramudu                                      2004',
'[05] Chakram                                           2005',
'[06] Chatrapathi                                       2005',
'[07] Pournami                                          2006',
'[08] Yogi                                              2007',
'[09] Munna                                             2007',
'[10] Bujjigadu                                         2008',
'[11] Billa                                             2009',
'[12] Ek Niranjan                                       2009',
'[13] Darling                                           2010',
'[14] Mr.Perfect                                        2011',
'[15] Rebal                                             2012',
'[16] Denikaina Ready(prabash to dub for vishnu)        2012',
'[17] Mirchi                                            2013',
'[18] Action Jackson(special appearar)                  2014',
'[19] Bahubali:The Beginning                            2015',
'[20] Bahubali:THE Conclusion                           2017',
'[21] Saho                                              2019',
'[22] Radhe Shyam                                       2022',
'[23] Adipursh 2023 NOT Release                   12/01/2023',
'[24] Salar 2023 Not Release                      28/09/2023',
'[25] Project K                                      shoting'])

In [59]:
print(p_prabhas)

['[01] Eashwar                                           2002'
 '[02] Ragavendhra                                       2003'
 '[03] Varsham\t                                        2004'
 '[04] Adivi Ramudu                                      2004'
 '[05] Chakram                                           2005'
 '[06] Chatrapathi                                       2005'
 '[07] Pournami                                          2006'
 '[08] Yogi                                              2007'
 '[09] Munna                                             2007'
 '[10] Bujjigadu                                         2008'
 '[11] Billa                                             2009'
 '[12] Ek Niranjan                                       2009'
 '[13] Darling                                           2010'
 '[14] Mr.Perfect                                        2011'
 '[15] Rebal                                             2012'
 '[16] Denikaina Ready(prabash to dub for vishnu)        2012'
 '[17] Mirchi                                            2013'
 '[18] Action Jackson(special appearar)                  2014'
 '[19] Bahubali:The Beginning                            2015'
 '[20] Bahubali:THE Conclusion                           2017'
 '[21] Saho                                              2019'
 '[22] Radhe Shyam                                       2022'
 '[23] Adipursh 2023 NOT Release                   12/01/2023'
 '[24] Salar 2023 Not Release                      28/09/2023'
 '[25] Project K                                      shoting']

In [60]:
siva_prabhas = pd.Series(p_prabhas)

In [61]:
print(siva_prabhas)

0     [01] Eashwar                                  ...
1     [02] Ragavendhra                              ...
2     [03] Varsham\t                                ...
3     [04] Adivi Ramudu                             ...
4     [05] Chakram                                  ...
5     [06] Chatrapathi                              ...
6     [07] Pournami                                 ...
7     [08] Yogi                                     ...
8     [09] Munna                                    ...
9     [10] Bujjigadu                                ...
10    [11] Billa                                    ...
11    [12] Ek Niranjan                              ...
12    [13] Darling                                  ...
13    [14] Mr.Perfect                               ...
14    [15] Rebal                                    ...
15    [16] Denikaina Ready(prabash to dub for vishnu...
16    [17] Mirchi                                   ...
17    [18] Action Jackson(special appearar)         ...
18    [19] Bahubali:The Beginning                   ...
19    [20] Bahubali:THE Conclusion                  ...
20    [21] Saho                                     ...
21    [22] Radhe Shyam                              ...
22    [23] Adipursh 2023 NOT Release                ...
23    [24] Salar 2023 Not Release                   ...
24    [25] Project K                                ...
dtype: object

In [62]:
##Creating series from dict

In [74]:
#THE PRABHAS TOTAL MOVES IN CERIER ,RANKING SYSTEM 1,2,3,4,5
dict_prabhas_rank = pd.Series([4,3,5,5,4,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,0,0],index=['[01] Eashwar                                           2002',
'[02] Ragavendhra                                       2003',
'[03] Varsham	                                        2004',
'[04] Adivi Ramudu                                      2004',
'[05] Chakram                                           2005',
'[06] Chatrapathi                                       2005',
'[07] Pournami                                          2006',
'[08] Yogi                                              2007',
'[09] Munna                                             2007',
'[10] Bujjigadu                                         2008',
'[11] Billa                                             2009',
'[12] Ek Niranjan                                       2009',
'[13] Darling                                           2010',
'[14] Mr.Perfect                                        2011',
'[15] Rebal                                             2012',
'[16] Denikaina Ready(prabash to dub for vishnu)        2012',
'[17] Mirchi                                            2013',
'[18] Action Jackson(special appearar)                  2014',
'[19] Bahubali:The Beginning                            2015',
'[20] Bahubali:THE Conclusion                           2017',
'[21] Saho                                              2019',
'[22] Radhe Shyam                                       2022',
'[23] Adipursh 2023 NOT Release                   12/01/2023',
'[24] Salar 2023 Not Release                      28/09/2023',
'[25] Project K                                      shoting'])

In [75]:
print(dict_prabhas_rank)

[01] Eashwar                                           2002    4
[02] Ragavendhra                                       2003    3
[03] Varsham\t                                        2004     5
[04] Adivi Ramudu                                      2004    5
[05] Chakram                                           2005    4
[06] Chatrapathi                                       2005    5
[07] Pournami                                          2006    5
[08] Yogi                                              2007    5
[09] Munna                                             2007    5
[10] Bujjigadu                                         2008    5
[11] Billa                                             2009    5
[12] Ek Niranjan                                       2009    5
[13] Darling                                           2010    5
[14] Mr.Perfect                                        2011    5
[15] Rebal                                             2012    5
[16] Denikaina Ready(prabash to dub for vishnu)        2012    5
[17] Mirchi                                            2013    5
[18] Action Jackson(special appearar)                  2014    5
[19] Bahubali:The Beginning                            2015    5
[20] Bahubali:THE Conclusion                           2017    5
[21] Saho                                              2019    5
[22] Radhe Shyam                                       2022    5
[23] Adipursh 2023 NOT Release                   12/01/2023    0
[24] Salar 2023 Not Release                      28/09/2023    0
[25] Project K                                      shoting    0
dtype: int64

In [76]:
s_enimals = np.array(['cat','dog','monkey','elephent','hors','fox','ox','tiger','lion'])#creating nd array

In [77]:
print(s_enimals)

['cat' 'dog' 'monkey' 'elephent' 'hors' 'fox' 'ox' 'tiger' 'lion']

In [78]:
p_enimals = pd.Series(s_enimals)    # convrt to array to list

In [79]:
print(p_enimals)

0         cat
1         dog
2      monkey
3    elephent
4        hors
5         fox
6          ox
7       tiger
8        lion
dtype: object

In [85]:
dict_enimals_power = pd.Series([2,3,3,5,4,5,3,5,5],index=['cat','dog','monkey','elephent','hors','fox','ox','tiger','lion'])#total enimals ranking 1 2 3 4 5

In [83]:
print(dict_enimals_power)

cat         2
dog         3
monkey      3
elephent    5
hors        4
fox         5
ox          3
tiger       5
lion        5
dtype: int64

# CREATING SERIES FROM SCALAR

In [88]:
scalar_series = pd.Series(5.,index=['a','b','c','d','e'])                       #PRINT SERIES WITH SCALAR INPUT

In [89]:
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [90]:
siva_series = pd.Series(4,index=['s','i','v','a'])

In [91]:
siva_series

s    4
i    4
v    4
a    4
dtype: int64

# acceaain elements in series

In [95]:
dict_prabhas_rank[24]

0

In [99]:
dict_prabhas_rank[22]

0

In [100]:
siva_series[3]

4

In [102]:
print(dict_enimals_power)

cat         2
dog         3
monkey      3
elephent    5
hors        4
fox         5
ox          3
tiger       5
lion        5
dtype: int64

In [103]:
dict_enimals_power

cat         2
dog         3
monkey      3
elephent    5
hors        4
fox         5
ox          3
tiger       5
lion        5
dtype: int64

In [104]:
dict_enimals_power[7]

5

In [105]:
dict_enimals_power[6]

3

In [108]:
siva_prabhas

0     [01] Eashwar                                  ...
1     [02] Ragavendhra                              ...
2     [03] Varsham\t                                ...
3     [04] Adivi Ramudu                             ...
4     [05] Chakram                                  ...
5     [06] Chatrapathi                              ...
6     [07] Pournami                                 ...
7     [08] Yogi                                     ...
8     [09] Munna                                    ...
9     [10] Bujjigadu                                ...
10    [11] Billa                                    ...
11    [12] Ek Niranjan                              ...
12    [13] Darling                                  ...
13    [14] Mr.Perfect                               ...
14    [15] Rebal                                    ...
15    [16] Denikaina Ready(prabash to dub for vishnu...
16    [17] Mirchi                                   ...
17    [18] Action Jackson(special appearar)         ...
18    [19] Bahubali:The Beginning                   ...
19    [20] Bahubali:THE Conclusion                  ...
20    [21] Saho                                     ...
21    [22] Radhe Shyam                              ...
22    [23] Adipursh 2023 NOT Release                ...
23    [24] Salar 2023 Not Release                   ...
24    [25] Project K                                ...
dtype: object

In [109]:
dict_enimals_power

cat         2
dog         3
monkey      3
elephent    5
hors        4
fox         5
ox          3
tiger       5
lion        5
dtype: int64

In [111]:
#access first 5 enimals form the series
dict_enimals_power[0:5]

cat         2
dog         3
monkey      3
elephent    5
hors        4
dtype: int64

In [116]:
#locing up a enimal by name or index
dict_enimals_power.loc['dog']

3

In [118]:
dict_prabhas_rank.loc['[08] Yogi                                              2007']#look up a prabhas move by name of index

5

In [129]:
dict_prabhas_rank[0:10] #prabhas  first 10 moves from thr series

[01] Eashwar                                           2002    4
[02] Ragavendhra                                       2003    3
[03] Varsham\t                                        2004     5
[04] Adivi Ramudu                                      2004    5
[05] Chakram                                           2005    4
[06] Chatrapathi                                       2005    5
[07] Pournami                                          2006    5
[08] Yogi                                              2007    5
[09] Munna                                             2007    5
[10] Bujjigadu                                         2008    5
dtype: int64

In [122]:
dict_prabhas_rank[0:0]

Series([], dtype: int64)

In [123]:
dict_prabhas_rank[1:3]

[02] Ragavendhra                                       2003    3
[03] Varsham\t                                        2004     5
dtype: int64

In [124]:
dict_prabhas_rank[0:3]

[01] Eashwar                                           2002    4
[02] Ragavendhra                                       2003    3
[03] Varsham\t                                        2004     5
dtype: int64

In [125]:
dict_prabhas_rank[10:20]

[11] Billa                                             2009    5
[12] Ek Niranjan                                       2009    5
[13] Darling                                           2010    5
[14] Mr.Perfect                                        2011    5
[15] Rebal                                             2012    5
[16] Denikaina Ready(prabash to dub for vishnu)        2012    5
[17] Mirchi                                            2013    5
[18] Action Jackson(special appearar)                  2014    5
[19] Bahubali:The Beginning                            2015    5
[20] Bahubali:THE Conclusion                           2017    5
dtype: int64

In [126]:
dict_prabhas_rank.iloc[1]#loking up by position

3

In [127]:
dict_prabhas_rank.iloc[0:5]

[01] Eashwar                                           2002    4
[02] Ragavendhra                                       2003    3
[03] Varsham\t                                        2004     5
[04] Adivi Ramudu                                      2004    5
[05] Chakram                                           2005    4
dtype: int64

In [128]:
dict_prabhas_rank[0:5]

[01] Eashwar                                           2002    4
[02] Ragavendhra                                       2003    3
[03] Varsham\t                                        2004     5
[04] Adivi Ramudu                                      2004    5
[05] Chakram                                           2005    4
dtype: int64

In [130]:
## VECTORIZING OPERATIONS IN SERIES

In [135]:
first_vector_series = pd.Series([1,2,3,4],index=['a','b','c','d'])
second_vector_series = pd.Series([10,20,30,40,],index=['a','b','c','d'])

In [136]:
first_vector_series+second_vector_series

a    11
b    22
c    33
d    44
dtype: int64

In [138]:
siva_vector_series = pd.Series([100,200,300,400],index=['bahuballi','yogi','pournmi','adivi ramudu'])

In [139]:
first_vector_series+siva_vector_series

a              NaN
adivi ramudu   NaN
b              NaN
bahuballi      NaN
c              NaN
d              NaN
pournmi        NaN
yogi           NaN
dtype: float64

In [140]:
#vectirizing operations i  series

In [143]:
siva_vector_series = pd.Series([10,20,30,40],index=['a','b','c','f'])

In [144]:
first_vector_series+siva_vector_series

a    11.0
b    22.0
c    33.0
d     NaN
f     NaN
dtype: float64

#